# SBT / Scala
/target/
**/target/
/project/target/
/project/boot/
/.bsp/
/.bloop/

# Clojure / Leiningen
.clj-kondo/
modules/dhall-bridge/.cpcache/
modules/postgres-bridge/.cpcache/
modules/postgres-bridge/.lsp/
.clj
.edn

# Coursier / caches
/.coursier/
/.cache/

# IDE
/.idea/
*.iml
.idea_modules
.classpath
.project
/.vscode/

# OS
.DS_Store
Thumbs.db

# Logs and temporary files
/logs/
*.log

#another
check.bash
